body {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border: none;
    padding: 5px 5px;
    cursor: pointer;
}


.container {
    max-width: 1200px;
    width: 100%;
    margin: 10px auto;
    padding: 0 30px 0 30px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 10px 0 10px;
    background-color: rgb(40, 40, 40);
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    @media (max-width: 550px) {
        height: 60px;
    }
    &__logo {
            text-transform: uppercase;
            font-size: 50%;
            @media (max-width: 550px) {
                font-size: 40%;
            }
            @media (max-width: 460px) {
                display: none;
            }
    }
    &__settings {
        display: flex;
        @media (max-width: 460px) {
            display: contents;
        }
    }
    &__btn {
        color: white;
        border: solid 0.5px white;
        background-color: rgb(40, 40, 40);
        @media (max-width: 550px) {
            font-size: 80%;
        }
        @media (max-width: 336px) {
            font-size: 70%;
        }
        &:not(:nth-child(2)) {
            margin-right: 7px;
        }
        &:hover {
            color: #03d190;
            border: solid 1px #03d190;
            @media (max-width: 1180px) {
                color: white;
                border: solid 0.5px white;
                background-color: rgb(40, 40, 40);
            }
        }
    }
}

.bills {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    @media (max-width: 490px) {
        flex-wrap: wrap;
        justify-content: center;   
    }
    &__button {
        background-color:rgb(8, 160, 112);
        color: white;
        &:hover {
            background-color: #02543a;
        }
    }
    &__form {
        display: none;
    }
    &__new-bill-block {
        max-width: 245px;
        width: 100%;
    }
    &__new-template {
        min-width: 245px;
        width: 100%;
    }
    &__new-bill-block {
        width: 50%;
        @media (max-width: 490px) {
            margin: 0 auto 20px auto;
            justify-content: center;
            text-align: center;
        }
    }
    &__new-bill {
        background-color: rgb(8, 160, 112);
        max-width: 245px;
        width: 100%;
        border-radius: 5px;
        padding: 10px 10px;
        margin-bottom: 5px;
        margin-right: 20px;
        & h3 {
            color: rgb(2, 84, 58);
            text-transform: uppercase;
            font-size: 90%;
        }
    }

    &__create-new-btn {
        color: white;
        background-color: rgb(8, 160, 112);
        &:hover {
            color: #08a070;
            background-color: white;
            border: solid 1px rgb(2, 84, 58);
            padding: 4px 4px;
        }
        @media (max-width: 490px) {
            margin: 0 auto; 
        }
    }
                
    &__waiters-list {
        background-color: rgb(8, 160, 112);
        border-radius: 0px;
        color: white;
        padding: 5px 5px;
        border: none;
        margin: 2px 0 10px 0;
    }

    &__waiter {
        cursor: pointer;
        background-color: white;
        color: #02543a;
        margin: 3px;
        padding: 3px;
    }
    &__total-price {
        margin-bottom: 20px;
    }

    &__tables-list {
        background-color: rgb(8, 160, 112);
        border-radius: 0px;
        color: white;
        padding: 5px 5px;
        border: none;
        margin: 2px 0 15px 0;
    }
    &__table {
        cursor: pointer;
        background-color: white;
        color: #02543a;
        margin: 3px;
        padding: 3px;
    }
    &__buttons {
        display: none;
    }
    &__save-btn {
        background-color: rgb(8, 160, 112);
        color: white;
        &:hover {
            color: rgb(8, 160, 112);
            background-color: white;
            border: solid 1px rgb(2, 84, 58);
            padding: 3px 4px;
        }
    }
    &__cancel-btn {
        background-color: rgb(218, 75, 9);
        color: white;
        &:hover {
            color: rgb(8, 160, 112);
            background-color: white;
            border: solid 1px rgb(2, 84, 58);
            padding: 3px 4px;
            @media (max-width: 1180px) {
                border: none;
                background-color: rgb(218, 75, 9);
                color: white; 
            }
        }
        @media (max-width: 560px) {
            margin-top: 2px;        
        }
    }
    &__list-container {
        text-align: center;
        width: 70%;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 100%;
        padding: 0 0 23px 0;
        border: solid 1px;
        @media (max-width: 560px) {
            width: 100%;     
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 100%;
    }

    &__active-bill-table {
        margin-bottom: 20px;
    }
    &__date {
        color: rgb(117, 116, 116);
        font-weight: 300;
        font-size: 12px;
        text-transform: lowercase;
    }
    &__modal-window {
        position: absolute;
        width: 80%;
        margin: 0 40% 0 7%;
        padding: 20px;
        @media (max-width: 745px) {
            margin: 0 40% 0 5%;
        }
        @media (max-width: 530px) {
            margin: 0 40% 0 3%;
        }
        @media (max-width: 420px) {
            margin: 0 40% 0 2%;
        }
        @media (max-width: 420px) {
            margin: 0 40% 0 1%;
        }
    }

    &__menu-items {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        background-color: white;
        box-shadow: 0px 5px 30px #02543a;
        @media (max-width: 1200px) {
            max-width: 300px;
            width: 100%;
        }
    }

    &__cancel-modal-btn{
        max-width: 110px;
        margin: 10px auto 10px auto;
        width: 100%;
        background-color: rgb(218, 75, 9);
        color: white;
        padding: 4px;
    }
    &__menu-item {
        margin: 10px auto 10px auto
    }

    &__text {
        margin-top: 5px;
    }
}

.settings {
    display: none;
    max-width: 460px;
    width: 100;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 535px) {
        flex-direction: column;
    }
    &__btn {
        color: white;
        background-color: rgb(8, 160, 112);
        margin-bottom: 5px;
        &:hover {
            color: #08a070;
            background-color: white;
            border: solid 1px rgb(2, 84, 58);
            padding: 4px 4px;
        }
    }
    &__input-error {
        color: red;
        display: none;
    }

    &__waiters-error {
        color: red;
        display: none;
    }

    &__tables-error {
        color: red;
        display: none;
    }

    &__tables-table {
        max-width: 160px;
        width: 100%;
    }

    &__tables-item-td {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu-form {
        max-width: 1140px;
        width: 100%;
    }
    &__menu-main {
        @media (max-width: 535px) {
            display: none;
        }
    }
    &__menu-item{
        @media (max-width: 535px) {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
        }
    }

    &__menu-del-btn {
        background-color: rgb(218, 75, 9);
        padding: 2px 4px;
        color: white;
        &:hover {
            color: rgb(8, 160, 112);
            background-color: white;
            border: solid 1px rgb(2, 84, 58);
            padding: 1px 3px;
        }
        @media (max-width: 535px) {
            margin-top: 5px;
        }
    }
    &__menu-price-input {
        margin: 2px 0 4px 0;
        border-radius: 0px;
        border: solid 0.2px black;
        max-width: 90px;
        width: 100%;
    }
    &__waiter-del-btn {
        background-color: rgb(218, 75, 9);
        padding: 2px 4px;
        color: white;
        &:hover {
            color: rgb(8, 160, 112);
            background-color: white;
            border: solid 1px rgb(2, 84, 58);
            padding: 1px 3px;
        }
    }

    &__waiter-name-input {
        border: solid 0.2px black;
        border-radius: none;
        max-width: 210px;
        width: 100%;
    }

    &__table-del-btn {
        background-color: rgb(218, 75, 9);
        padding: 2px 4px;
        color: white;
        &:hover {
            color: rgb(8, 160, 112);
            background-color: white;
            border: solid 1px rgb(2, 84, 58);
            padding: 1px 3px;
        }
    }
    &__menu-form-area {
        max-width: 1140px;
        width: 100%;
    }
    &__menu-title-input {
        border: solid 0.2px black;
        border-radius: 0px;
        max-width: 200px;
        width: 100%;
    }
    &__menu-title-input-container {
        width: 60%;
        @media (max-width: 540px) {
            width: 130%; 
        }
    }
    &__waiters-input-container {
        width: 60%;
    }
}

.bills-archive   {
    display: none;
}

.menu-settings {
    max-width: max-content;
}

.selected-btn {
    color: black;
    background-color: white;
    border: solid 1px #02543a;
    &:hover {
        color: black;
        background-color: #f0ffb6;
        padding: 5px 5px;
        @media (max-width: 1180px) {
            background-color: white;
            border: solid 1px #02543a;
        }
    }
}

.menu-settings {
    display: none;
}

.bills-archive {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.archive-bill-item {
    background-color:#f1edd3de;
    color: rgb(40, 40, 40);
    padding: 10px;
    max-width: 250px;
    width: 100%;
    box-shadow: 5px 5px 10px #02543a22;
    margin: 10px;
}

.active-bill-item {
    background-color:#f1edd3de;
    color: rgb(40, 40, 40);
    padding: 10px;
    max-width: 250px;
    width: 100%;
    box-shadow: 5px 5px 10px #02543a22;
    margin: 10px;
}

.kitchen-orders {
    margin-bottom: 10px;
}

.loading {
    margin-top: -10px;
    display: none;
    justify-content: center;
    max-width: 1920px;
    width: 100%;
    height: 1000px;
    position: absolute;
    background-color: rgba(204, 204, 204, 0.572);
    padding-top: 100px;
    z-index: 1;
    @media (max-width: 720px) {
        width: 720px;
        width: 100%;
    }
}

.loading img {
    max-width: 100px;
    width: 100%;
    height: fit-content;
    @media (max-width: 720px) {
        width: 30px;
        height: 30px;
    }
}

.bill-btn {
    background-color: rgb(8, 160, 112);
    color: white;
    &:not(:last-child) {
        margin: 2px 1px 2px 2px;
    }
    &:hover {
        background-color: #02543a;
    }
}

.kitchen-orders {
    text-align: start;
    margin-top: 5px;
}

.archive-bill-item-price {
    font-weight: 900;
}

.archive-bill-item-number {
    font-weight: 900;
}

.menuItem-title {
    max-width: 300px;
    width: 100%;
    margin-bottom: 2px;
    border-radius: 0px;
    border: solid 0.1px black;
    padding-left: 2px;
}

.menuItem-price {
    border-radius: 0px;
    border: solid 0.1px black;
    padding-left: 2px;
    max-width: 70px;
    width: 100%;
}

.waiter-name {
    border-radius: 0px;
    border: solid 0.2px black;
    padding-left: 2px;
}

.cancel-btn {
    color: white;
    background-color: rgb(218, 75, 9);
}